/* @media only screen and (min-width: 768px) {
	body {

	  grid-template-columns: 2fr 2fr;
	  grid-template-rows: 15vmin 80vmin 80vmin 15vmin;
	  grid-template-areas: 
	  "hdr hdr"
      "article1 article2"
      "article3 article4"
	    "ftr ftr";
	}
} */
/*   
  header {
    grid-area: hdr;
    background-color: rgb(209, 59, 50);
  }
  
  #article1 {
    grid-area: article1;
    background-color: rgb(186 53 46);
  }
  
  #article2 {
    grid-area: article2;
    background-color: rgb(197, 55, 47);
  }

  #article3 {
    grid-area: article3;
    background-color: rgb( 175, 50, 42);
  }

  #article4 {
    grid-area: article4;
    background-color: rgb(186 53 46);
  }

  footer {
    grid-area: ftr;
    background-color: rgb(209, 59, 50);
  } */
  

body {
    font-family: 'Courier New', Courier, monospace;
    /* view height */
    height: 100vh;
}

/* div:last-child {
    margin: 0;
} */

.clearfix:after {
    display: block;
    clear: both;
    content: "";   
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; /* Along Axis*/
    align-items: center; /* Cross Axis*/
    align-content: space-between;
    text-align: center;
    /* flex-start, center, baseline */
}

header {
  background-color: rgb(153, 197, 112);
  width: 100%;
  color: white;
}

h1{
  width: 100%;
}

UL {
  margin: 50px;
}

#skill-text-box {
  color: grey;
  border: 2px solid rgb(153, 197, 112);
}

#add-skill-btn {
  color: rgb(153, 197, 112);
  background-color: white;
  border: 2px solid rgb(153, 197, 112);
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

