@media only screen and (max-width: 768px) {
	input {
    display: block;
  }

  .delete {
    display: inline;
    background-color: orangered;
  }

  form {
    display: inline;
  }

  #add-skill-btn {
    background-color:  rgb(153, 197, 112);
    color: white;
    font-weight: bold;
  }

  div {
    display: flex;
    flex-flow: column wrap;
  }

}

body {
    font-family: 'Courier New', Courier, monospace;
    /* view height */
    height: 100vh;
}

/* div:last-child {
    margin: 0;
} */

.clearfix:after {
    display: block;
    clear: both;
    content: "";   
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; /* Along Axis*/
    align-items: center; /* Cross Axis*/
    align-content: space-between;
    text-align: center;
    /* flex-start, center, baseline */
}

header {
  background-color: rgb(153, 197, 112);
  width: 100%;
  color: white;
}

h1{
  width: 100%;
}

UL {
  margin: 50px;
}

#skill-text-box {
  color: grey;
  border: 2px solid rgb(153, 197, 112);
}

#add-skill-btn {
  color: rgb(153, 197, 112);
  background-color: white;
  border: 2px solid rgb(153, 197, 112);
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

